{% load static %}
{% load crispy_forms_tags   %}
{% load widget_tweaks %}
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Viagem</title>
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/js/bootstrap.min.js' %}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light  bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'listartodos' %}">Buscar Protocolo <span class="sr-only">(página atual)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'cadastrarviagem' %}">Cadastrar Viagem</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Ação</a>
            <a class="dropdown-item" href="#">Outra ação</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Algo mais aqui</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Desativado</a>
        </li>
      </ul>
    </div>
  </nav>
  {% block content %}{% endblock %}
</body>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


{% if messages%}
{% for m in messages %}
  <script>
      Swal.fire({
    text:'{{m}}',
    title: '',
    icon: 'success',
    })
    
  </script>

{% endfor %}
{% endif%}