{% extends "base.html" %}
{% load static %}

{% load crispy_forms_tags   %}
{% load widget_tweaks %}

{% block content %}<br><br>
<form method=”GET”>
  <div >
    <input type="text" class="form-control" placeholder="" name="search" id="search">
  </div>
  <br>
  <div class="input-group-prepend">

    <select class="form-select" aria-label="Default select example" name="tipo">
      <option disabled selected>Default</option>
      <option value=numero_protocolo>Numero Procolo</option>
      <option value="dias_utei">Dias uteis</option>
      <option value="data_inical">Data Inicial</option>
      <option value="data_final">Data Final</option>
      <option value="valor_passagem">Valor Passagem</option>
      <option value="valor_translado">Valor Translado</option>
      <option value="cargo">Cargo</option>
      <option value="estado">Estado</option>
      <option value="cidade">Cidade</option>
      <option value="update_at">Atualizado em</option>
    </select>
    <button class="btn btn-secondary" type="submit" id="button-addon1">Buscar
      
    </button>

  </div>


  
  </form>



<table class="table table-responsive">
    <thead class="thead-dark ">
      <tr>
        <th scope="col">Numero Procolo</th>
        <th scope="col">Dias uteis</th>
        <th scope="col">Data Inicial</th>
        <th scope="col">Data Final</th>
        <th scope="col">Valor Passagem</th>
        <th scope="col">Valor Translado</th>
        <th scope="col">Cargo</th>
        <th scope="col">Estado</th>
        <th scope="col">Cidade</th>
        <th scope="col">Atualizado em</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    {% for value in List%}
    <tbody>
      <tr>
        <th scope="row">{{value.numero_protocolo}}</th>
        <td>{{value.dias_utei}}</td>
        <td>{{value.data_inical}}</td>
        <td>{{value.data_final}}</td>
        <td>{{value.valor_passagem}}</td>
        <td>{{value.valor_translado}}</td>
        <td>{{value.cargo}}</td>
        <td>{{value.estado}}</td>
        <td>{{value.cidade}}</td>
        <td>{{value.update_at}}</td>
        <td>
            <button class="btn btn-primary" ><a href="{% url 'listarcalculo' value.numero_protocolo %}" style="color: white;">Editar&nbsp</a></button>
            <button class="btn btn-danger" ><a href="#" onclick="DeletarViagem({{value.numero_protocolo}})" style="color: white;">Excluir</a</button>
        </td>
      </tr>
    </tbody>
    {% endfor %}

 
  </table>
  <div class="pagination">
    <span class="step-links">
        {% if List.has_previous %}
            <a href="?page={{ List.previous_page_number }}">Anterior</a>
        {% endif %}
    
        <span class="current">
            {{ List.number }} de {{ List.paginator.num_pages }}
        </span>
    
        {% if List.has_next %}
            <a href="?page={{ List.next_page_number }}">Próxima</a>
        {% endif %}
    </span>
</div>
 
<script>
  function DeletarViagem(id){

    Swal.fire({
  title: 'Deseja realmente excluir a viagem?',
  text: "Esta ação é irreversivel !",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  CancelButtonText:'cancelar',
  confirmButtonText: 'Sim excluir!'
}).then((result) => {
  if (result.isConfirmed) {
    window.location.href="../deletar/"+id+""

  }
})


  }

</script>


{% endblock %}